@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: theme("colors.onwhite");
    --foreground: theme("colors.pitch");
    --primary: theme("colors.mustard");
  }
}

@layer utilities {
  .font-ligatures-common {
    font-variant-ligatures: common-ligatures;
  }
}

@layer components {
  .hero-bg {
    @apply bg-hero-img md:bg-hero-md lg:bg-hero-lg xl:bg-hero-xl bg-cover-x bg-no-repeat;
  }
  .footer-bg {
    @apply bg-footer-img md:bg-footer-md lg:bg-footer-lg xl:bg-footer-xl bg-cover-x bg-no-repeat;
  }
  .proj-hero-bg {
    @apply bg-proj-hero-img md:bg-proj-hero-md lg:bg-proj-hero-lg xl:bg-proj-hero-xl bg-cover-x bg-no-repeat;
  }

  .text-style-display-title {
    @apply text-[3rem] md:text-[8rem] font-black leading-[1];
  }
  .text-style-display-subtitle {
    @apply text-[2rem] md:text-[3rem] font-light leading-[1];
  }
  .text-style-button {
    @apply text-[1.25rem] font-bold leading-[1.3];
  }
  .text-style-card-title {
    @apply text-[1rem] font-bold leading-[1.3];
  }
  .text-style-card-subtitle {
    @apply text-[1rem] font-light leading-[1.3];
  }
  
  .body-text {
    @apply flex flex-col gap-y-[1rem];
  }

  .button-base-style {
    @apply w-fit h-[2.625rem] px-[1rem] items-center rounded-full text-style-button;
  }
  .button-row-style {
    @apply flex flex-wrap justify-center gap-x-[1rem] gap-y-[0.5rem];
  }

  .linked-section {
    @apply scroll-mt-[6rem]
  }

  .list-disc {
    @apply ml-[2rem]
  }
  .list-disc>li {
    @apply mb-[0.1rem]
  }
}

@layer base {
  html {
    @apply scroll-smooth
  }
  h1 {
    @apply text-[4.25rem] font-black leading-[1.3] text-center mb-[2rem] md:mb-[4rem];
  }
  h2 {
    @apply text-[2.5rem] font-black leading-[1.1] mb-[1rem];
  }
  p {
    @apply text-[1rem] font-normal leading-[1.3];
  }
  body {
    @apply font-sans text-pitch text-[1rem] font-normal leading-[1.3];
    background: var(--background);
  }
  .paragraph-text a {
    @apply underline decoration-mustard decoration-2
  }
}
